.paywall {
  font-size: 14px;
  padding: 20px;
  border: 1px dashed #ffc107;
  background: #fffdf8;
  margin-bottom: 10px;
  margin-top: 10px;
}

.paywall a {
  text-decoration: none;
}

.paywall input {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  border-style: solid;
  border: 1px solid #bbb;
}


.paywall input[name="mobile"],
.paywall input[name="code"] {
  height: 28px;
  line-height: 28px;
  width: 120px;
  padding: 0 0 0 6px;
  margin-bottom: 10px;
}

.paywall .btn {
  display: inline-block;
  border: 1px solid #ddd;
  color: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
  text-align: center;
  margin: 29px 0 10px;
}

.paywall .btn-btn {
  border-color: #66aa66;
  background: #37d13b;
  color: #fff;
}

.paywall .btn-link {
  background-color: #fa2;
  border-color: #f80;
  color: #fff;
}

#paywall-code-box .btn-btn {
  margin: 0 0 9px 0;
}

#paywall-code-box .tips {
  margin-bottom: 10px;
}

.paywall-js-show {
  display: none;
}

.paywall-center {
  text-align: center;
}

.paywall-highlight {
  color: #f10;
}

.paywall-box .paywall-highlight {
  margin: 20px 0;
}

.paywall-mb {
  margin-bottom: 20px;
}

.paywall-tips {
  color: #999;
}

.paywall-reset {
  border: 0px;
  background: #fff;
}

.paywall-toggle {
  padding: 30px 0;
}

.paywall-box .paywall-mask {
  bottom: 120px;
  display: block;
  height: 120px;
  position: relative;
  width: 100%;
  background-image: linear-gradient(to bottom,rgba(255,255,255,0) 30%,#fff 80%);
  background-repeat: repeat-x;
  margin-bottom: -120px;
}

.paywall-box .paywall-lock {
  border-top: 1px solid #ddd;
  position: relative;
}


.paywall-box .icon-lock-m {
  background: #fff url('images/icon-lock-m.png') center 0 no-repeat;
  display: block;
  height: 24px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  top: -12px;
  width: 50px;
}

#paywall-membership-link-container a {
  position: relative;
}

#paywall-membership-link-container a span {
  background: red;
  border-radius: 8px 8px 8px 0;
  color: #fff;
  font-size: 12px;
  padding: 0px 0.5em;
  position: absolute;
  right: -35px;
  top: -8px;
}
